{% extends "base.html" %}
{% block title %}Início · E-commerce{% endblock %}
{% block content %}
  <div class="card">
    <h1>Bem-vindo 👋</h1>
    <p class="helper">Use o menu para navegar: cadastre usuários, categorias e anúncios.</p>
    <div style="display:flex; gap:10px; margin-top:10px;">
      <a class="btn" href="{{ url_for('usuario') }}">Ir para Usuários</a>
      <a class="btn" href="{{ url_for('anuncios') }}">Ir para Anúncios</a>
      <a class="btn" href="{{ url_for('categoria') }}">Ir para Categorias</a>
    </div>
  </div>
{% endblock %}
