<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce - {{titulo}}</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <form action="{{ url_for('caduser') }}" method="post">
        <p><label for="nome">Nome</label></p>
        <p><input type="text" id="nome" name="nome" required></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="email" id="email" name="email" required></p>

        <p><label for="senha">Senha</label></p>
        <p><input type="password" id="senha" name="senha" required></p>

        <p><input type="submit" value="Cadastrar"></p>
</form>

</body>
</html>
